*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#mywebsite{
    display: grid;
    place-items: center;
}

#landing{
    width: 100%;
    background: linear-gradient(0deg, rgba(182, 174, 174, 0.233), rgba(0, 0, 0, 0.3)), url('../img/landing-img.jpg');
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.993);
}

#landing h1{
    font-size: 45px;
}

#landing p{
    margin-top: 15px;
}

#blog{
    width: 85%;
    margin-top: 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    grid-gap: 30px 0px;
    min-width: 80%;
}

#blog h2{
    grid-column: 1 / span 4;
    text-align: center;
    font-size: 28px;
}

#blog>div{
    width: 95%;
    background: whitesmoke;
    min-height: 45vh;
    border-radius: 5px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.315);
    overflow: hidden;
}

#blog>div>img{
    width: 100%;
    height: 65%;
    margin-top: -30px;
    overflow: hidden;
}

#blog>div h3{
    position: relative;
    background: whitesmoke;
    padding-top: 15px;
    padding-left: 25px;
    font-size: 16px;
    margin-top: -30px;
}

#blog>div p{
    padding-left: 20px;
    font-size: 11.5px;
    padding-right: 30px;
    padding-bottom: 20px;
    line-height: 18px;
    padding-top: 10px;
}

#blog>div a{
    text-decoration: none;
    font-size: 12px;
    color: gray;
    padding-top: 50px;
    padding-left: 20px;
}

[title~="Featured"]{
    color: white;
    border: 1px solid rgb(26, 25, 25);
}

#blog>div:nth-child(4), #blog>div:nth-child(4) h3{
    background: rgb(26, 25, 25);
}

#blog>div:nth-child(4) a{
    color:white;

}

#blog>div:nth-child(4) a:hover{
    color: orangered
}

#services{
    margin-top: 100px;
    padding-top: 100px;
    background: whitesmoke;
    width: 100%;
    text-align: center;
}

#services h2{
    font-size: 28px;
}

#services ul{
    display: grid;
    grid-template-columns: repeat(5, 15%);
    grid-gap: 0 30px;
    padding: 0 125px;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 100px;
}

#services ul li{
    background: white;
    padding: 30px 30px;
    font-size: 13px;
    list-style: none;
    width: 100%;
}
#services ul li:first-child{
    background: orangered;
}

#services ul li:hover{
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.315);
}
